@import "../css/mixins";
@import "../css/variables";
@import "../css/global";
.portfolio_outer {
  margin: 2rem;
}

.portfolio_img_container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-content: center;
  .portfolio_img {
    background-color: $dark-700;
    box-sizing: border-box;
    padding: 1rem;
    flex: 100%;
    max-width: 100%;

    @include breakpoints-up(medium) {
      background-color: $dark-700;
      box-sizing: border-box;
      padding: 1rem;
      flex: 50%;
      max-width: calc(50% - 2rem);
    }
    @include breakpoints-up(large) {
      background-color: $dark-700;
      box-sizing: border-box;
      padding: 1rem;
      flex: 25%;
      max-width: calc(25% - 0.75rem);
      align-content: center !important;
    }
  }
}
