//Colors
$bg-color: #1e1e1e;
$header-color: #eff0f3;

$content-color: #fff;
$dark-color: #939baf;

$base-font-size: 16px;

$large-font: 2.375rem; //39px
$xl-font: 4.5rem; // 72px

$mb-large: 2.0625rem; //33px
$mb-font: 0.875rem; //14px
