@import "../css/mixins";

.about {
  @include main-content-style;
  &__profile_pic {
    background-color: #212121;
    box-sizing: border-box;
    padding: 1rem;
    z-index: -2;
    max-height: 90%;
    @include breakpoints-up(medium) {
      flex: 40%;
      max-width: calc(40%);
    }
    img {
      filter: grayscale(1);
    }
  }
  &__profile_desc {
    @include breakpoints-up(medium) {
      flex: 50%;
      max-width: calc(50% - 2rem);
    }
  }
}
