@import "../css/mixins";
@import "../css/variables";

.contact_form {
  @include main-content-style;
  flex-direction: column;
  align-items: center;

  &__fields {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #212121;
    padding: 1rem;
    box-sizing: border-box;

    @media (max-width: 450px) {
      width: 300px;
    }

    div {
      margin-bottom: 2rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
      }

      input,
      textarea {
        display: block;
        width: 100%;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid $header-color;
        box-shadow: none;
        color: $content-color;
      }

      input:focus,
      input:active,
      textarea:focus,
      textarea:active {
        border-bottom: 1px solid $dark-color;
        outline: 0;
      }
    }
    button {
      padding: 0.5rem;
    }
  }
}

.hidden {
  display: hidden;
}
