@import "../css/mixins";
@import "../css/variables";

.main_container {
  @include main-content-style;

  img {
    filter: grayscale(1);
    z-index: -1;
  }
}

.item_container {
  z-index: -2;
  background-color: $dark-700;
  box-sizing: border-box;
  padding: 1rem;
  flex: 50%;
  max-width: calc(50% - 0.5rem);

  h2{
    margin-top: 0;
  }

  @include breakpoints-down(small) {
    flex: 100%;
    max-width: 100%;
  }

  &:last-child {
    flex: 60%;
    max-width: 60%;
  }
}
