//Colors

$header-color: #eff0f3;

$content-color: #fff;
$dark-color: #939baf;

$base-font-size: 16px;

$large-font: 2.375rem; //39px
$xl-font: 4.5rem; // 72px

$mb-large: 2.0625rem; //33px
$mb-font: 0.875rem; //14px

$gap-small: 0.025rem; //4px
$gap-half: 0.5rem; //8px
$gap: 1rem; //16px
$gap-onequatar: 1.25rem; //20px
$gap-onehalf: 1.5rem; //24px
$gap-double: 2rem; //32px
$gap-3x: 3rem; //42px
$gap-4x: 4rem; //64px

$white: #fff;

$dark-900: #131826;
$dark-800: #1e1e1e;
$dark-700: #232323;
$dark-600: #252525;
$dark-500: #272727;
$dark-400: #2c2c2c;
$dark-300: #2e2e2e;
$dark-200: #333333;
$dark-100: #363636;
$dark-50: #383838;

$netural-900: #22262e;
$netural-800: #333945;
$netural-700: #565e74;
$netural-600: #7c869e;
$netural-500: #939baf;
$netural-400: #b9becb;
$netural-300: #ced2db;
$netural-200: #dfe1e7;
$netural-100: #eff0f3;
$netural-50: #fafafb;
