@import "variables";
@import "mixins";
@import "animations";


html {
  background-color: $bg-color;
  font-size: $base-font-size;
  color: $content-color;
  font-family: Inter, Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (max-width: 39.9375em) {
  html {
    font-size: 14px;
  }
}
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

.hide-for-mobile {
  @include breakpoints-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoints-up(large) {
    display: none;
  }
}

.open {
  > span:first-child {
    transform: rotate(-45deg) translate(-6px, 5px);
  }
  > span:nth-child(2) {
    opacity: 0;
  }
  > span:last-child {
    transform: rotate(45deg) translate(-6px, -5px);
  }
}

.menu_expand {
  z-index: 100;
  width: 100%;
  background-color: #2c2c2c;
  position: absolute;
  width: calc(100% - 4rem);
  left: 50%;
  transform: translate(-50%);

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  ul li {
    list-style: none;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    a {
      color: $content-color;
      text-decoration: none;
    }
  }
}

.active {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}
